<div class="container text-center">
    <div class="btn-group">
        <%= render "admin/links", resource: Post %>
        <%= render "admin/links", resource: Comment %>
        <%= render "admin/links", resource: User %>

    </div>
</div>