.container
  .col-md-12.col-lg-12
    - posts.each do |post|
      br
      article.post.vt-post[style="background:#9edec6;"]
        .row[style="background:#9edec6;"]
          .col-xs-12.col-sm-5.col-md-5.col-lg-4
            |  <div class="post-type post-img", style="position:relative; width:2%, height:100px;"> 
            br
            - if post.user.avatar?
              = image_tag(post.user.avatar_url(:thumb), style:"width:150px; height:200px; height:auto;")
            - else
              = image_tag("https://cdn3.iconfinder.com/data/icons/flaticons-1/24/flaticon_user-512.png", style:"width:150px; height:200px; height:auto;   border-radius: 50%;")
          div[style="padding-top:250px;"]
            = t(:author)
            | : 
            = link_to post.user.email, profile_path(post.user)
        .col-xs-12.col-sm-7.col-md-7.col-lg-8
          .caption
            h3.md-heading
              = link_to post.title, post
            p
              = post.body
        div[style="padding-bottom: 5px; padding-left:1100px"]
          strong
            = t(:created_at)
            | :
          = post.published_at
= will_paginate posts
style
  |  .post { width: 100%; float: left; -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); background: #fff; margin-bottom: 40px; border-radius: 3px; } .post .post-type { float: left; width: 100%; } 