<br><br><br>

<h1>Editing place</h1>

<%= render "form", place: @place %>

<br>

<div>
  <%= link_to "Show this place", @place, class:"btn btn-success", style:"margin-left:130px; margin-top: -112px;"%>
</div>
