<p style="color: green"><%= notice %></p>

<%= render @place %>

<div>
  <%= link_to "Edit this place", edit_place_path(@place), class:"btn btn-success" %> 

  <%= button_to "Destroy this place", @place, method: :delete, class:"btn btn-success" , style:"margin-left: 130px; margin-top: -64px;" %>
</div>
